{% extends "page.html" %}
{% block title %}
404 - NOT FOUND
{% endblock title %}
{% block content %}
<style>
   html {
      overflow: hidden;
      width: 100vw;
      height: 100vh;
      background-image: url("{{ config.base_url | safe }}/OMORI_404.png");
      background-position: center;
      background-size: cover;
      image-rendering: pixelated;
      background-repeat: no-repeat;
   }
   body {
      background: none !important;
      text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
      font-size: 2vw !important;
   }
</style>
<main style="text-align: center;">
  NOT FOUND
  <p>You were wrong. <a href="{{ config.base_url | safe }}">Go back.</a></p>
</main>
{% endblock content %}
